.squareButton{
    background-color: transparent;
    color: black;
    width: 100%;
    border-color: transparent;
}

.squareButton:disabled{
    background-color: transparent;
    color: black;
    width: 100%;
    border-color: transparent;
}

.squareIcon{
    height: 40px;
    width: 40px;
}